table,
td {
  border: 1px solid hsl(0, 100%, 50%);
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
}

.rotate {
  animation: roll .5s;
  transform: rotate(180deg);
}

.rotateBack {
  animation: rollBack .5s;
  transform: rotate(0deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rollBack {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
