table,
td {
  border: 1px solid hsl(0, 100%, 50%);
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}
